
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    background-color: #15273f;
    border-radius: 20px;
    text-align: center;
    
}

#logo-img{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(5%,-50%);
    width: 300px;
    height: 300px;
}

#signature {
    stroke-dasharray: 1362.353;
    stroke-dashoffset: 1362.353;
    animation: sign 4s ease;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes sign{
    to {
        stroke-dashoffset: 0;
    }
}

@media(max-width: 480px){
    .logo{
        transform: scale(2);
    }
    .logo-img{
        width: 10px;
        height: 10px;
    }
}